<!-- AbhayAshta
301240026 
7 Oct, 2022  -->

<!-- ABOUT PAGE -->
<h1>Hey This Is Abhay Ashta</h1>
 <br><br>
 <img align = "left" src="Assets/images/abhay.jpeg" style="width:478px; height:458px;">
    <p1>I am 19 years old guy from India studying Software Engineering Technician at Centennial College.I have completed major courses in html, javascript, oracle sql, c#, css and looking forward to learn more and gain more experience.
        I am skilled in desiging websites and managing database in oracle SQL. I am going to graduate my Software Engineering Techncian Diploma in May,2023. </p1>